.opensidebar {
    position: fixed;
    right: 5rem;
    top: 2rem;
    font-size: 1.5rem;
    color: var(--bg);
    cursor: pointer;
    transition: all 0.3s ease;
}

.opensidebar:hover {
    color: var(--green);
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background: var(--bg-secondary);
    box-shadow: 0 5px 10px rgba(20, 18, 18, 0.2);
    border-radius: 1rem 0 0 1rem;
    width: 27rem;
    padding: 2rem 1.5rem;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    header {
        position: relative;

        .icon {
            position: absolute;
            top: 0;
            right: 2rem;
            font-size: 1.5rem;
            color: var(--bg);
            cursor: pointer;
            transition: all 0.3s ease;

            :hover {
                color: var(--red);
            }
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        background: var(--bg-secondary);
        box-shadow: 0 5px 10px rgba(20, 18, 18, 0.2);
        border-radius: 1rem 0 0 1rem;
        width: calc(100% - 4rem);
        padding: 2rem 1.5rem;
        transition: all 0.3s ease;
    }
}
